.articles {
  &__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px 15px;

    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 15px;

    @include small-tablet {
      grid-template-columns: 1fr;
    }

    &--single {
      display: block;

      p {
        margin: 1em 0 1em;
      }
      img {
        margin-bottom: 1em;
      }
    }
  }
}
