.contacts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--offset-small);

  @include mobile {
    grid-template-columns: 1fr;
  }

  &__col {
    iframe {
      width: 100%;
    }
  }

  &__address {
    font-size: 25px;
    font-style: normal;
    margin-bottom: 20px;
  }

  &__list {
    font-size: 25px;
  }

  &__list-item {
    margin-bottom: 15px;
  }

  &__link {
    color: var(--color-accent);
  }
}
