.partners {
  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--offset-small) var(--offset-tiny);
    align-items: center;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__col {
    display: flex;
    justify-content: center;
    img {
      max-width: 80%;
    }
  }
}
