.statistic {
  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--offset-tiny);

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-dark);
    padding: var(--offset-tiny-small);
    border-radius: var(--offset-tiny-small);
  }

  &__img {
    margin-bottom: var(--offset-small);
    img {
      border-radius: var(--offset-tiny-small);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    border-radius: var(--offset-tiny-small);
    padding: var(--offset-tiny);
    background-color: var(--color-light);
    font-size: 20px;
    height: 100%;

    p {
      margin-bottom: 0;
    }
  }
}
