.stars {
  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--offset-small) var(--offset-tiny);
  }

  &__col {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-bottom: var(--offset-small);
      max-width: 250px;
      border-radius: 50%;
    }
  }
}
