.volunteers {
  &__col {
    img {
      margin-bottom: var(--offset-small);
    }
  }

  &-table {
    margin-top: 60px;
    border: 1px solid var(--color-dark);
    border-collapse: collapse;
    width: 100%;
    margin-bottom: var(--offset-small);
    td {
      padding: var(--offset-tiny-small);
      border: 1px solid var(--color-dark);
    }
  }
}
