:root {
  // base
  --font-family-base: 'PTSans', sans-serif;
  --font-family-bold: 'Montserrat', sans-serif;
  // --font-family-accent: "Yantramanav", sans-serif;
  // --font-family-additional: "DMSans", sans-serif;

  // border-radius
  --border-radius-small: 10px;

  // border-color
  --border-color-dark: var(--color-dark);

  // letter-spacing
  --letter-spacing-small: 1.6px;

  // outline
  --outline-offset: 2px;

  // transition
  --timing: 0.3s ease;

  // z-index-
  --preloader-z-index: 1001;
  --header-nav-z-index: 10;

  // overlay
  --overlay-shadow: rgba(0, 0, 0, 0.6);

  --headings-sizes-h1: 3rem;
  --headings-sizes-h2: 2.7rem;
  --headings-sizes-h3: 2.4rem;
  --headings-sizes-h4: 2.1rem;
  --headings-sizes-h5: 1.7rem;
  --headings-sizes-h6: 1.5rem;
}
