:root {
  --color-light: #fbf8f2;
  --color-light-bg: #e9e4da;
  --color-light-bg-hover: #dfdad0;
  --color-white: #fefefe;
  --color-dark: #202058;
  --color-dark-bg: #29395b;
  --color-accent: #fe823d;
  --color-accent-light: #ffd8c0;
  --color-accent-hover: #e7661a;
}
