// * * * * * {
//   outline: 3px solid orange;
// }    /* debug offsets */

.page {
  height: 100%;
  font-family: var(--font-family-base);
  background-color: var(--color-light);
  font-synthesis: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  hyphens: auto;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-dark);

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

.site-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  padding: 0 15px;
}

.btn {
  padding: 10px 20px;
  background-color: var(--color-accent);
  color: var(--color-white);
  border-radius: 30px;
  font-size: 18px;
  transition: var(--timing) background-color;

  &:hover,
  &:focus {
    background-color: var(--color-accent-hover);
  }

  &-lg {
    font-size: 20px;
    padding: 15px 30px;
  }
}

.accent {
  display: block;
  margin-bottom: 10px;
  color: var(--color-accent);
  font-family: var(--font-family-bold);
  font-size: 20px;
}

.section {
  padding-top: calc(var(--offset-large) * 2);
  padding-bottom: calc(var(--offset-large) * 2);
}

.bg-white {
  background-color: var(--color-white);
}

@media (prefers-reduced-motion) {
  * {
    &,
    &::after,
    &::before {
      animation: none !important;
      transition: 0.01s !important;
      scroll-behavior: auto !important;
    }
  }
}

@media (prefers-contrast: more) {
  .backdrop-title {
    &::after {
      -webkit-text-stroke: 10px var(--color-dark);
      text-stroke: 10px var(--color-dark);
    }
  }
}
