<section class="achievements">
  <div class="container">
    <h2>Что мы делаем</h2>
    <p>
      За два года войны наша команда приготовила и раздала более
      <b>500 000 горячих обедов</b>
      беженцам, волонтерам, пожилым людям, нуждающимся. Мы смогли внести свой вклад в поддержку тех, кто оказался в
      трудной жизненной ситуации. Каждый день мы стремимся помочь как можно большему количеству людей, обеспечивая их не
      только едой, но и теплотой, заботой и вниманием. Благодаря нашей сплоченной работе и помощи неравнодушных граждан,
      мы продолжаем помогать и поддерживать тех, кто в этом особенно нуждается.
    </p>
    <div class="achievements__row">
      <div class="achievements__col">
        <div class="achievements__icon">
          <img src="img/school-svgrepo-com.svg" alt="" />
        </div>
        <div class="achievements__info">
          <div class="achievements__amount">1994</div>
          <p>Год начала деятельности в г.Харьков</p>
        </div>
      </div>
      <div class="achievements__col">
        <div class="achievements__icon">
          <img src="img/team-svgrepo-com.svg" alt="" />
        </div>
        <div class="achievements__info">
          <div class="achievements__amount">1 250</div>
          <p>Людей кормим в день</p>
        </div>
      </div>
      <div class="achievements__col">
        <div class="achievements__icon">
          <img src="img/minus-sign-svgrepo-com.svg" alt="" />
        </div>
        <div class="achievements__info">
          <div class="achievements__amount">62 500</div>
          <p>Гривень тратим в день для приготовления еды каждый день</p>
        </div>
      </div>
      <div class="achievements__col">
        <div class="achievements__icon">
          <img src="img/an-examination-svgrepo-com.svg" alt="" />
        </div>
        <div class="achievements__info">
          <div class="achievements__amount">2 000 000</div>
          <p>Раздали порций еды</p>
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-lg">Поддержать проект</a>
  </div>
</section>
