<article class="card">
  <a href="#" class="card__image">
    <img src="img/default-image.jpg" alt="How To Learn Everything About Construction" />
  </a>
  <div class="card__details">
    <time datetime="2024-08-30" class="card__date">30 Aug 2024</time>
    <h5 class="card__title"><a href="#">How To Learn Everything About Construction</a></h5>
    <p>
      The European languages are members of the same family. Their separate existence is a myth. For science, music,
      sport, etc,…
    </p>
  </div>
</article>
