<article class="card" itemscope itemtype="http://schema.org/Article">
  <a href="#" class="card__image">
    <img src="img/default-image.jpg" alt="How To Learn Everything About Construction" itemprop="image" />
  </a>
  <div class="card__details">
    <time datetime="2024-08-30" class="card__date" itemprop="datePublished">30 Aug 2024</time>
    <h5 class="card__title"><a href="#" itemprop="headline">How To Learn Everything About Construction</a></h5>
    <p itemprop="articleBody">
      The European languages are members of the same family. Their separate existence is a myth. For science, music,
      sport, etc,…
    </p>
  </div>
</article>
