<article class="card-small" itemscope itemtype="http://schema.org/Article">
  <a href="#" class="card-small__image">
    <img src="img/default-image.jpg" alt="How To Learn Everything About Construction" itemprop="image" />
  </a>
  <div class="card-small__details">
    <time datetime="2024-08-30" class="card-small__date" itemprop="datePublished">30 Aug 2024</time>
    <h5 class="card-small__title"><a href="#" itemprop="headline">How To Learn Everything About Construction</a></h5>
  </div>
</article>
