<section class="charity section container" id="charity">
  <h2>Помощь проекту</h2>
  <div class="charity-controls">
    <button type="button" class="charity-controls__btn charity-controls__btn--active">Разово</button>
    <button type="button" class="charity-controls__btn">Каждый месяц</button>
  </div>
  <div class="charity-wrapper">
    <div class="charity-wrapper__tab">
      <div class="h5">Каждые ₴50 - это накормленный человек</div>
      <p>
        Выберите
        <b>разовое</b>
        пожертвование
      </p>
      <div class="charity-wrapper__buttons">
        <a href="#" class="btn btn-lg">₴100 = 2 обеда</a>
        <a href="#" class="btn btn-lg">₴200 = 4 обеда</a>
        <a href="#" class="btn btn-lg">₴500 = 10 обедов</a>
        <a href="#" class="btn btn-lg">₴1000 = 20 обедов</a>
        <a href="#" class="btn btn-lg">₴2000 = 40 обедов</a>
        <a href="#" class="btn btn-lg">₴5000 = 100 обедов</a>
        <a href="#" class="btn btn-lg">₴10000 = 200 обедов</a>
        <a href="#" class="btn btn-lg">Другое колличество обедов</a>
      </div>
    </div>
    <div class="charity-wrapper">
      <div class="charity-wrapper__tab">
        <div class="h5">Каждые ₴50 - это накормленный человек</div>
        <p>
          Выберите
          <b>помесячное</b>
          пожертвование
        </p>
        <div class="charity-wrapper__buttons">
          <a href="#" class="btn btn-lg">₴100 = 2 обеда</a>
          <a href="#" class="btn btn-lg">₴200 = 4 обеда</a>
          <a href="#" class="btn btn-lg">₴500 = 10 обедов</a>
          <a href="#" class="btn btn-lg">₴1000 = 20 обедов</a>
          <a href="#" class="btn btn-lg">₴2000 = 40 обедов</a>
          <a href="#" class="btn btn-lg">₴5000 = 100 обедов</a>
          <a href="#" class="btn btn-lg">₴10000 = 200 обедов</a>
        </div>
      </div>
  </div>
  <h5>Отписаться от пожертвований</h5>
  <p class="text-lg">
    Для этого обратитесь по адресу
    <a href="mailto:fflkharkiv@gmail.com">fflkharkiv@gmail.com</a>
    или напишите нам в
    <a href="https://t.me/foodForLifeKh" target="_blank">Telegram.</a>
  </p>
</section>
