<section class="documents section bg-white">
  <div class="container">
    <h2>Документы</h2>
    <div class="swiper documents-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="img/Screenshot-from-2023-04-19-16-51-27.png" data-fancybox="gallery">
            <img src="img/Screenshot-from-2023-04-19-16-51-27.png" alt="" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="img/Screenshot-from-2023-04-25-12-09-20.png" data-fancybox="gallery">
            <img src="img/Screenshot-from-2023-04-25-12-09-20.png" alt="" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="img/Screenshot-from-2024-04-04-10-13-36.png" data-fancybox="gallery">
            <img src="img/Screenshot-from-2024-04-04-10-13-36.png" alt="" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="img/Screenshot-from-2024-04-04-10-13-54.png" data-fancybox="gallery">
            <img src="img/Screenshot-from-2024-04-04-10-13-54.png" alt="" />
          </a>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <a href="#" class="btn btn-lg">Подробнее</a>
  </div>
</section>
