<section class="section container">
  <h2>Наша цель</h2>
  <p>
    Наша цель на 2024-2025 годы – собирать 1,5 миллиона гривен ежемесячно, чтобы приготовить и раздать 30 тысяч порций
    еды. Мы стремимся увеличить масштабы нашей помощи, чтобы еще больше людей, нуждающихся в поддержке, могли получить
    горячие и питательные обеды. Мы верим, что с вашей поддержкой и нашими совместными усилиями сможем достичь этой
    цели. Ваши пожертвования помогут нам закупать необходимые продукты, оборудование и ресурсы, чтобы ежедневно кормить
    тех, кто нуждается в помощи. Мы надеемся на вашу поддержку и участие в нашем благотворительном проекте, чтобы вместе
    сделать мир лучше и добрее.
  </p>
  <img src="img/goal.jpg" alt="" />
</section>
