<section class="help bg-white section">
  <div class="container">
    <h2>Как еще помощь</h2>
    <div class="help__row">
      <article class="help__col">
        <div class="help__image">
          <img src="img/help-1.png" alt="" />
          <div class="help__description">
            <h6>Реквизиты</h6>
            <p>Зарубежные переводы, криптовалюты и другие счета.</p>
            <a href="#" class="btn">Пожертвовать</a>
          </div>
        </div>
      </article>
      <article class="help__col">
        <div class="help__image">
          <img src="img/help-2.png" alt="" />
          <div class="help__description">
            <h6>Команда</h6>
            <p>Присоединяйтесь и становитесь частью проекта, изменяющего жизнь</p>
            <a href="#" class="btn">Присоединиться</a>
          </div>
        </div>
      </article>
      <article class="help__col">
        <div class="help__image">
          <img src="img/help-3.png" alt="" />
          <div class="help__description">
            <h6>Продукты / Материалы</h6>
            <p>Поделитесь продуктами, материалами, оборудованием, контактами и прочими для приготовления обедов.</p>
            <a href="#charity" class="btn">Поддержать</a>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
