<section class="help bg-white section" itemscope itemtype="http://schema.org/ItemList">
  <div class="container">
    <h2 itemprop="name">Как еще помощь</h2>
    <div class="help__row">
      <article class="help__col" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <div class="help__image">
          <img src="img/help-1.png" alt="" itemprop="image" />
          <div class="help__description" itemprop="item" itemscope itemtype="http://schema.org/Thing">
            <h6 itemprop="name">Реквизиты</h6>
            <p itemprop="description">Зарубежные переводы, криптовалюты и другие счета.</p>
            <a href="#" class="btn" itemprop="url">Пожертвовать</a>
          </div>
        </div>
      </article>
      <article class="help__col" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <div class="help__image">
          <img src="img/help-2.png" alt="" itemprop="image" />
          <div class="help__description" itemprop="item" itemscope itemtype="http://schema.org/Thing">
            <h6 itemprop="name">Команда</h6>
            <p itemprop="description">Присоединяйтесь и становитесь частью проекта, изменяющего жизнь</p>
            <a href="#" class="btn" itemprop="url">Присоединиться</a>
          </div>
        </div>
      </article>
      <article class="help__col" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <div class="help__image">
          <img src="img/help-3.png" alt="" itemprop="image" />
          <div class="help__description" itemprop="item" itemscope itemtype="http://schema.org/Thing">
            <h6 itemprop="name">Продукты / Материалы</h6>
            <p itemprop="description">
              Поделитесь продуктами, материалами, оборудованием, контактами и прочими для приготовления обедов.
            </p>
            <a href="#charity" class="btn" itemprop="url">Поддержать</a>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
