<div class="hero container section" itemscope itemtype="http://schema.org/Organization">
  <div class="hero__info">
    <span class="accent">Мы там, где есть нужда</span>
    <h1 class="hero__title" itemprop="name">Еда Жизни Харьков</h1>
    <p class="hero__text" itemprop="description">
      Поддержите нас и станьте частью большого проекта, который ежедневно кормит сотни и тысячи людей горячими обедами.
      Мы предоставляем помощь тем, кто оказался в трудной жизненной ситуации, бездомным и малоимущим. Наша миссия - не
      только утолить голод, но и дарить надежду и заботу каждому нуждающемуся. Присоединяйтесь к нам и внесите свой
      вклад в лучшее будущее для всех.
    </p>
    <a href="#" class="btn btn-lg">Поддержать проект</a>
  </div>
  <div class="hero__image">
    <div class="hero__image-wrapper" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
      <img src="img/hero.jpg" alt="" itemprop="url" />
      <img src="img/hero-2.jpg" alt="" itemprop="url" />
    </div>
  </div>
</div>
