<section class="partners bg-white section">
  <div class="container">
    <div class="accent">Партнерство, проверенное временем</div>
    <h2>Партнерская поддержка</h2>
    <div class="partners__row">
      <div class="partners__col">
        <img src="img/partner-1.png" alt="" />
      </div>
      <div class="partners__col">
        <img src="img/partner-2.png" alt="" />
      </div>
      <div class="partners__col">
        <img src="img/partner-3.jpg" alt="" />
      </div>
      <div class="partners__col">
        <img src="img/partner-4.png" alt="" />
      </div>
      <div class="partners__col">
        <img src="img/partner-5.jpg" alt="" />
      </div>
      <div class="partners__col">
        <img src="img/partner-6.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
