<section class="partners bg-white section" itemscope itemtype="http://schema.org/Organization">
  <div class="container">
    <div class="accent">Партнерство, проверенное временем</div>
    <h2>Партнерская поддержка</h2>
    <div class="partners__row" itemprop="memberOf">
      <div class="partners__col" itemprop="member">
        <img src="img/partner-1.png" alt="" itemprop="logo" />
      </div>
      <div class="partners__col" itemprop="member">
        <img src="img/partner-2.png" alt="" itemprop="logo" />
      </div>
      <div class="partners__col" itemprop="member">
        <img src="img/partner-3.jpg" alt="" itemprop="logo" />
      </div>
      <div class="partners__col" itemprop="member">
        <img src="img/partner-4.png" alt="" itemprop="logo" />
      </div>
      <div class="partners__col" itemprop="member">
        <img src="img/partner-5.jpg" alt="" itemprop="logo" />
      </div>
      <div class="partners__col" itemprop="member">
        <img src="img/partner-6.jpg" alt="" itemprop="logo" />
      </div>
    </div>
  </div>
</section>
