<section class="stars container section" itemscope itemtype="http://schema.org/ItemList">
  <span class="accent" itemprop="description">Благотворительность — это любовь в действии</span>
  <h2 itemprop="name">Почётные волонтёры</h2>
  <div class="stars__row" itemprop="itemListElement" itemscope itemtype="http://schema.org/Person">
    <div class="stars__col" itemprop="itemListElement" itemscope itemtype="http://schema.org/Person">
      <img
        src="https://vzvuke.net/style/performers/webp/3e3d9508c1645abe18ff3a368d1d614b_large.webp"
        alt=""
        itemprop="image" />
      <div class="accent h6" itemprop="name">Святослав Вакарчук</div>
    </div>
    <div class="stars__col" itemprop="itemListElement" itemscope itemtype="http://schema.org/Person">
      <img
        src="https://znaj.ua/crops/c0e88c/1200x1200/2/0/2022/02/10/qXfUCtd5cgiFBcgiqhWn9VzJ8Fr8FkeiUeQgQ2Ri.jpeg"
        alt=""
        itemprop="image" />
      <div class="accent h6" itemprop="name">Ольга Сумская</div>
    </div>
    <div class="stars__col" itemprop="itemListElement" itemscope itemtype="http://schema.org/Person">
      <img
        src="https://lux.fm/uploads/640_DIR/media_news/2017/10/4a176ac8e8748f08126aaccca64097c59b4da960.jpg?w=400&fit=cover&output=webp&q=85"
        alt=""
        itemprop="image" />
      <div class="accent h6" itemprop="name">Наталья Могилевская</div>
    </div>
    <div class="stars__col" itemprop="itemListElement" itemscope itemtype="http://schema.org/Person">
      <img
        src="https://cdns-images.dzcdn.net/images/artist/56d80d7cb7f1c935c39cececa7b318f4/1900x1900-000000-80-0-0.jpg"
        alt=""
        itemprop="image" />
      <div class="accent h6" itemprop="name">TVORCHI</div>
    </div>
    <div class="stars__col" itemprop="itemListElement" itemscope itemtype="http://schema.org/Person">
      <img
        src="https://cdns-images.dzcdn.net/images/artist/56d80d7cb7f1c935c39cececa7b318f4/1900x1900-000000-80-0-0.jpg"
        alt=""
        itemprop="image" />
      <div class="accent h6" itemprop="name">TVORCHI</div>
    </div>
    <div class="stars__col" itemprop="itemListElement" itemscope itemtype="http://schema.org/Person">
      <img
        src="https://lux.fm/uploads/640_DIR/media_news/2017/10/4a176ac8e8748f08126aaccca64097c59b4da960.jpg?w=400&fit=cover&output=webp&q=85"
        alt=""
        itemprop="image" />
      <div class="accent h6" itemprop="name">Наталья Могилевская</div>
    </div>
  </div>
</section>
