<section class="statistic bg-white section" itemscope itemtype="https://schema.org/Dataset">
  <div class="container">
    <span class="accent">Каждая цифра – это шаг к миру без голода</span>
    <h2 itemprop="name">2023 год в цифрах</h2>
    <p itemprop="description">
      В 2023 году наша благотворительная организация раздачи еды достигла новых высот в борьбе с голодом и нехваткой
      продовольствия. Благодаря поддержке наших партнеров и добровольцев, мы смогли:
    </p>
    <div class="statistic__row">
      <div class="statistic__col" itemscope itemtype="https://schema.org/QuantitativeValue">
        <div class="statistic__img">
          <img src="img/soup.jpg" alt="" />
        </div>
        <div class="statistic__info">
          <span class="h5" itemprop="value">50000 л</span>
          <p itemprop="description">Первых блюд сварено</p>
        </div>
      </div>
      <div class="statistic__col" itemscope itemtype="https://schema.org/QuantitativeValue">
        <div class="statistic__img">
          <img src="img/rice.jpg" alt="" />
        </div>
        <div class="statistic__info">
          <span class="h5" itemprop="value">40 тонн</span>
          <p itemprop="description">Вторых блюд приготовлено</p>
        </div>
      </div>
      <div class="statistic__col" itemscope itemtype="https://schema.org/QuantitativeValue">
        <div class="statistic__img">
          <img src="img/tasty-plate.jpg" alt="" />
        </div>
        <div class="statistic__info">
          <span class="h5" itemprop="value">20 тонн</span>
          <p itemprop="description">Подливки приготовлено</p>
        </div>
      </div>
      <div class="statistic__col" itemscope itemtype="https://schema.org/QuantitativeValue">
        <div class="statistic__img">
          <img src="img/bread.jpg" alt="" />
        </div>
        <div class="statistic__info">
          <span class="h5" itemprop="value">10 тонн</span>
          <p itemprop="description">Хлеба выпечено</p>
        </div>
      </div>
      <div class="statistic__col" itemscope itemtype="https://schema.org/QuantitativeValue">
        <div class="statistic__img">
          <img src="img/sabji.jpg" alt="" />
        </div>
        <div class="statistic__info">
          <span class="h5" itemprop="value">200000</span>
          <p itemprop="description">Порций еды приготовлено и роздано</p>
        </div>
      </div>
      <div class="statistic__col" itemscope itemtype="https://schema.org/QuantitativeValue">
        <div class="statistic__img">
          <img src="img/food-distribution.jpg" alt="" />
        </div>
        <div class="statistic__info">
          <span class="h5" itemprop="value">16</span>
          <p itemprop="description">Точек раздачи</p>
        </div>
      </div>
      <div class="statistic__col" itemscope itemtype="https://schema.org/QuantitativeValue">
        <div class="statistic__img">
          <img src="img/books.jpg" alt="" />
        </div>
        <div class="statistic__info">
          <span class="h5" itemprop="value">900</span>
          <p itemprop="description">Книг Шрилы Прабхупады роздано</p>
        </div>
      </div>
      <div class="statistic__col" itemscope itemtype="https://schema.org/QuantitativeValue">
        <div class="statistic__img">
          <img src="img/volunteers.jpg" alt="" />
        </div>
        <div class="statistic__info">
          <span class="h5" itemprop="value">140</span>
          <p itemprop="description">Волонтеров задействовано</p>
        </div>
      </div>
    </div>
  </div>
</section>
