<article class="info-widget">
  <h3 class="info-widget__title h6">Категории статей</h3>

  <div class="info-widget__content">
    <ul class="info-widget__list">
      <li class="info-widget__item">
        <a href="#" class="info-widget__link">
          Celebration
          <span>(12)</span>
        </a>
      </li>
      <li class="info-widget__item">
        <a href="#" class="info-widget__link">
          Culture
          <span>(12)</span>
        </a>
      </li>
      <li class="info-widget__item">
        <a href="#" class="info-widget__link">
          Fashion
          <span>(11)</span>
        </a>
      </li>
      <li class="info-widget__item">
        <a href="#" class="info-widget__link">
          Inspiration
          <span>(0)</span>
        </a>
      </li>
      <li class="info-widget__item">
        <a href="#" class="info-widget__link">
          Lifestyle
          <span>(2)</span>
        </a>
      </li>
      <li class="info-widget__item">
        <a href="#" class="info-widget__link">
          Politic
          <span>(4)</span>
        </a>
      </li>
      <li class="info-widget__item">
        <a href="#" class="info-widget__link">
          Trending
          <span>(12)</span>
        </a>
      </li>
    </ul>
  </div>
</article>
