<article class="info-widget" itemscope itemtype="http://schema.org/WebPage">
  <h3 class="info-widget__title h6" itemprop="headline">Категории статей</h3>

  <div class="info-widget__content">
    <ul class="info-widget__list" itemprop="keywords">
      <li class="info-widget__item" itemprop="about">
        <a href="#" class="info-widget__link">
          <span itemprop="name">Celebration</span>
          <span itemprop="interactionCount">(12)</span>
        </a>
      </li>
      <li class="info-widget__item" itemprop="about">
        <a href="#" class="info-widget__link">
          <span itemprop="name">Culture</span>
          <span itemprop="interactionCount">(12)</span>
        </a>
      </li>
      <li class="info-widget__item" itemprop="about">
        <a href="#" class="info-widget__link">
          <span itemprop="name">Fashion</span>
          <span itemprop="interactionCount">(11)</span>
        </a>
      </li>
      <li class="info-widget__item" itemprop="about">
        <a href="#" class="info-widget__link">
          <span itemprop="name">Inspiration</span>
          <span itemprop="interactionCount">(0)</span>
        </a>
      </li>
      <li class="info-widget__item" itemprop="about">
        <a href="#" class="info-widget__link">
          <span itemprop="name">Lifestyle</span>
          <span itemprop="interactionCount">(2)</span>
        </a>
      </li>
      <li class="info-widget__item" itemprop="about">
        <a href="#" class="info-widget__link">
          <span itemprop="name">Politic</span>
          <span itemprop="interactionCount">(4)</span>
        </a>
      </li>
      <li class="info-widget__item" itemprop="about">
        <a href="#" class="info-widget__link">
          <span itemprop="name">Trending</span>
          <span itemprop="interactionCount">(12)</span>
        </a>
      </li>
    </ul>
  </div>
</article>
